<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Pokerové kostky</title>

        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

        <link href="/static/css/bootstrap.min.css" rel="stylesheet">

        <link href="/static/css/bootstrap-icons.css" rel="stylesheet">

        <link href="/static/css/owl.carousel.min.css" rel="stylesheet">

        <link href="/static/css/owl.theme.default.min.css" rel="stylesheet">

        <link href="/static/css/templatemo-medic-care.css" rel="stylesheet">
<!--

TemplateMo 566 Medic Care

https://templatemo.com/tm-566-medic-care

-->
    </head>
    
    <body id="top">
    
        <main>

            <nav class="navbar navbar-expand-lg bg-light fixed-top shadow-lg" id="top">
                <div class="container">
                    <a class="navbar-brand mx-auto d-lg-none" href="index.html">
                        Pokerové kostky
                        <strong class="d-block">Hra s kostkami</strong>
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto">
                            <!--<li class="nav-item active">
                        <a class="nav-link" href="#hero">Domů</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#about">Základní pravidla</a>
                    </li>-->

                            <li class="nav-item">
                                <a class="nav-link" href="#basics">Základní pravidla</a>
                            </li>

                            <a class="navbar-brand d-none d-lg-block" href="#top">
                                Pokerové kostky
                                <strong class="d-block">Hra s kostkami</strong>
                            </a>

                            <li class="nav-item">
                                <a class="nav-link" href="#combinations">Výherní kombinace</a>
                            </li>

                            <!--<li class="nav-item">
                        <a class="nav-link" href="#booking">Booking</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>-->
                        </ul>
                    </div>

                </div>
            </nav>

            <section class="hero" id="hero">
                <div class="container">
                    <div class="row">

                        <div class="col-12">
                            <div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="/static/images/title-image.jpg" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="heroText d-flex flex-column justify-content-center">

                                <h1 class="mt-auto mb-2">
                                    <div class="animated-info">
                                        <span class="animated-item">Pokerové kostky</span>
                                        <span class="animated-item">Poker dices</span>
                                    </div>
                                </h1>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <p class="mb-4">Jednoduchá kostková hra nejčastěji pro 2 hráče, kde každý hráč hraje s 5 kostkami.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="section-padding" id="basics">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-12">
                            <h2 class="mb-lg-3 mb-3">Základní pravidla</h2>

                            <p>Pokerové kostky mají přípomínat klasický Texas hold 'em poker. Hráč má k dispozici 5 hracích kostek a ty musí hodit tak, aby měl na konci kola co nejvyšší výherní kombinaci.</p>

                            <p>Hra (kolo) začíná hodem prvního hráče. Po něm háže hráč druhý. První hráč má potom možnost ze svých dříve hozených kostek vybrat ty kostky, které uzná za vhodné (může vybrat všechny, ale i žádnou), a tyto kostky hodí znovu. Druhý hráč poté také může hodit znovu svými vybranými kostkami. Tímto končí kolo.</p>

                            <p>Na konci kola se vyhodnotí kdo z hráčů má vyšší výherní kombinaci a tomuto hráči se připočítá bod. Hráči se mohou rozhnodnout kolik kol budou hrát. Jakmile odehrají všechna kola, ten kdo má více bodů vyhrává celou hru.</p>
                        </div>

                        <div class="col-lg-4 col-md-5 col-12 mx-auto">
                            <div class="featured-circle bg-white shadow-lg d-flex justify-content-center align-items-center">
                                <p class="featured-text"><span class="featured-number">?</span></p>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="section-padding pb-0" id="combinations">
                <div class="container">
                    <div class="row">

                        <h2 class="text-center mb-lg-5 mb-4">Výherní kombinace</h2>

                        <div class="timeline">
                            <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes">
                                <div class="col-9 col-md-5 me-md-4 me-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                                    <h3 class=" text-light">Five of a Kind (Pětice)</h3>

                                    <p>Všech pět hráčových kostek má stejnou hodnotu. V případě, že druhý hráč má také Pětici, vyhrává ten, jehož pětice má vyšší hodnotu.</p>
                                </div>

                                <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                                    <h2 class="timeline-icon">1</h2>
                                </div>

                                <div class="col-9 col-md-5 ps-md-3 ps-lg-0 order-1 order-md-3 py-4 timeline-date">
                                    <time></time>
                                </div>
                            </div>

                            <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes my-lg-5 my-4">
                                <div class="col-9 col-md-5 ms-md-4 ms-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                                    <h3 class=" text-light">Four of a Kind (Čtveřice)</h3>

                                    <p>Čtyři z pěti kostek mají stejnou hodnotu. V případě, že druhý hráč má také Čtveřici, vyhrává ten, jehož čtveřice má vyšší hodnotu.</p>
                                </div>

                                <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                                    <h2 class="timeline-icon">2</h2>
                                </div>

                                <div class="col-9 col-md-5 pe-md-3 pe-lg-0 order-1 order-md-3 py-4 timeline-date">
                                    <time></time>
                                </div>
                            </div>

                            <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes">
                                <div class="col-9 col-md-5 me-md-4 me-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                                    <h3 class=" text-light">Full House</h3>

                                    <p>Tři z pěti hráčových kostek mají stejnou hodnotu a zbylé dvě kostky mají také stejnou hodnotu, různou však od hodnoty trojice. V případě, že druhý hráč má také Full House, vyhrává ten, jehož trojice má vyšší hodnotu. Pokud mají tyto trojice stejnou hodnotu, rozhoduje hodnota dvojice.</p>
                                </div>

                                <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                                    <h2 class="timeline-icon">3</h2>
                                </div>

                                <div class="col-9 col-md-5 ps-md-3 ps-lg-0 order-1 order-md-3 py-4 timeline-date">
                                    <time></time>
                                </div>
                            </div>

                            <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes my-lg-5 my-4">
                                <div class="col-9 col-md-5 ms-md-4 ms-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                                    <h3 class=" text-light">Straight (Postupka)</h3>

                                    <p>Vyšší postupku má hráč tehdy, pokud má kostky 2, 3, 4, 5 a 6. Nižší postupka se skládá z kostek hodnot 1, 2, 3, 4 a 5. V případě, že jeden hráč má Nižší postupku a druhý Vyšší postupku, vyhrává ten, kdo má Vyšší postupku.</p>
                                </div>

                                <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                                    <h2 class="timeline-icon">4</h2>
                                </div>

                                <div class="col-9 col-md-5 pe-md-3 pe-lg-0 order-1 order-md-3 py-4 timeline-date">
                                    <time></time>
                                </div>
                            </div>

                            <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes">
                                <div class="col-9 col-md-5 me-md-4 me-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                                    <h3 class=" text-light">Three of a Kind (Trojice)</h3>

                                    <p>Tři z pěti kostek mají stejnou hodnotu. V případě, že druhý hráč má také Trojici, vyhrává ten, jehož trojice má vyšší hodnotu.</p>
                                </div>

                                <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                                    <h2 class="timeline-icon">5</h2>
                                </div>

                                <div class="col-9 col-md-5 ps-md-3 ps-lg-0 order-1 order-md-3 py-4 timeline-date">
                                    <time></time>
                                </div>
                            </div>


                            <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes my-lg-5 my-4">
                                <div class="col-9 col-md-5 ms-md-4 ms-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                                    <h3 class=" text-light">Two pairs (Dva páry)</h3>

                                    <p>Dvě z pěti hráčových kostek mají stejnou hodnotu a ze zbylých tří kostek mají další dvě kostky také stejnou hodnotu, různou však od hodnoty první dvojice. V případě, že druhý hráč má také Dva páry, vyhrává ten, jehož dvojice s vyšší hodnotou má vyšší hodnotu, než protihráčova vyšší dvojice. Pokud mají tyto dvojice stejnou hodnotu, rozhodují hodnoty nižší dvojice.</p>
                                </div>

                                <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                                    <h2 class="timeline-icon">6</h2>
                                </div>

                                <div class="col-9 col-md-5 ps-md-3 ps-lg-0 order-1 order-md-3 py-4 timeline-date">
                                    <time></time>
                                </div>
                            </div>

                            <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes">
                                <div class="col-9 col-md-5 me-md-4 me-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                                    <h3 class=" text-light">One pair (Pár)</h3>

                                    <p>Dvě z pěti kostek mají stejnou hodnotu. V případě, že druhý hráč má také Pár, vyhrává ten, jehož pár má vyšší hodnotu.</p>
                                </div>

                                <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                                    <h2 class="timeline-icon">7</h2>
                                </div>

                                <div class="col-9 col-md-5 ps-md-3 ps-lg-0 order-1 order-md-3 py-4 timeline-date">
                                    <time></time>
                                </div>
                            </div>

                            <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes my-lg-5 my-4">
                                <div class="col-9 col-md-5 ms-md-4 ms-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                                    <h3 class=" text-light">High card (Vyšší karta)</h3>

                                    <p>Pokud hráči nemají žádnou z výše uvedených kombinací, vyhrává ten, který má nejvyšší hodnotu kostky.</p>

                                    <p>V případě, kdy mají oba hráči stejné kombinace, získavají oba hráči jeden bod.</p>
                                </div>

                                <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                                    <h2 class="timeline-icon">8</h2>
                                </div>

                                <div class="col-9 col-md-5 ps-md-3 ps-lg-0 order-1 order-md-3 py-4 timeline-date">
                                    <time></time>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--
    <section class="section-padding pb-0" id="reviews">
        <div class="container">
            <div class="row">

                <div class="col-12">
                    <h2 class="text-center mb-lg-5 mb-4">Our Patients</h2>

                    <div class="owl-carousel reviews-carousel">

                        <figure class="reviews-thumb d-flex flex-wrap align-items-center rounded">
                            <div class="reviews-stars">
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star"></i>
                            </div>

                            <p class="text-primary d-block mt-2 mb-0 w-100"><strong>Best Health Care</strong></p>

                            <p class="reviews-text w-100">Phasellus ligula ante, tempus ac imperdiet ut, mattis ac nibh. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

                            <img src="/static/images/reviews/beautiful-woman-face-portrait-brown-background.jpeg" class="img-fluid reviews-image" alt="">

                            <figcaption class="ms-4">
                                <strong>Marie</strong>

                                <span class="text-muted">Patient</span>
                            </figcaption>
                        </figure>

                        <figure class="reviews-thumb d-flex flex-wrap align-items-center rounded">
                            <div class="reviews-stars">
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star"></i>
                            </div>

                            <p class="text-primary d-block mt-2 mb-0 w-100"><strong>Doctor cares everyone!</strong></p>

                            <p class="reviews-text w-100">Donec in elementum orci, nec posuere ligula. Quisque vulputate diam et ullamcorper ullamcorper. Pellentesque vestibulum neque at leo fermentum mattis.</p>

                            <img src="/static/images/reviews/senior-man-wearing-white-face-mask-covid-19-campaign-with-design-space.jpeg" class="img-fluid reviews-image" alt="">

                            <figcaption class="ms-4">
                                <strong>Ben Walker</strong>

                                <span class="text-muted">Recovered</span>
                            </figcaption>
                        </figure>

                        <figure class="reviews-thumb d-flex flex-wrap align-items-center rounded">
                            <div class="reviews-stars">
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                            </div>

                            <p class="text-primary d-block mt-2 mb-0 w-100"><strong>Great services!</strong></p>

                            <p class="reviews-text w-100">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec sit amet velit vitae purus aliquam efficitur.</p>

                            <img src="/static/images/reviews/portrait-british-woman.jpeg" class="img-fluid reviews-image" alt="">

                            <figcaption class="ms-4">
                                <strong>Laura Zono</strong>

                                <span class="text-muted">New Patient</span>
                            </figcaption>
                        </figure>

                        <figure class="reviews-thumb d-flex flex-wrap align-items-center rounded">
                            <div class="reviews-stars">
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star"></i>
                                <i class="bi-star"></i>
                            </div>

                            <p class="text-primary d-block mt-2 mb-0 w-100"><strong>Best Advices</strong></p>

                            <p class="reviews-text w-100">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla.</p>

                            <img src="/static/images/reviews/woman-wearing-mask-face-closeup-covid-19-green-background.jpeg" class="img-fluid reviews-image" alt="">

                            <figcaption class="ms-4">
                                <strong>Rosey</strong>

                                <span class="text-muted">Almost Recovered</span>
                            </figcaption>
                        </figure>

                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="section-padding" id="booking">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-12 mx-auto">
                    <div class="booking-form">

                        <h2 class="text-center mb-lg-3 mb-2">Book an appointment</h2>

                        <form role="form" action="#booking" method="post">
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <input type="text" name="name" id="name" class="form-control" placeholder="Full name" required>
                                </div>

                                <div class="col-lg-6 col-12">
                                    <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Email address" required>
                                </div>

                                <div class="col-lg-6 col-12">
                                    <input type="telephone" name="phone" id="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" class="form-control" placeholder="Phone: 123-456-7890">
                                </div>

                                <div class="col-lg-6 col-12">
                                    <input type="date" name="date" id="date" value="" class="form-control">

                                </div>

                                <div class="col-12">
                                    <textarea class="form-control" rows="5" id="message" name="message" placeholder="Additional Message"></textarea>
                                </div>

                                <div class="col-lg-3 col-md-4 col-6 mx-auto">
                                    <button type="submit" class="form-control" id="submit-button">Book Now</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </section>
        -->
        </main>

        <footer class="site-footer section-padding" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-12 ms-auto mt-4 mt-lg-0">
                        <p class="copyright-text">Made by Faaven</p>
                    </div>

                </div>
            </div>
        </footer>
    </body>
</html>